

body#rabbit{
    width: 100%;
    font-family: 'Ubuntu Mono', ;
    color: rgb(245,245,245);
    margin-left:0;
    margin-top:0;
    background-color: #8a7800;
    background-image: url(http://www.transparenttextures.com/patterns/always-grey.png);
}}