html,body{
    width: 100%;
    background: #F2FAFF;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #f5f5f5;
    margin:0;
}

header{
    background:#E0F6FF;
    overflow: hidden;
    margin-bottom:10px;
    box-shadow: 0 0 4px white;
}
h1{
    text-align: center;
    font-size: 2.5em;
    color: white;
    text-shadow: 3px 3px 3px #0AADDC;
    font-family: 'Pacifico', cursive;
    padding:5px;
}
h2{
    font-size: 1.5em;
    color: #686868;
}
h2#firstH2{
    margin-left: 20px;
}
div{
    width: 45%;
    padding: 1%;
    float: left;
    font-size: 1.5em;
    margin-bottom: 20px;
}
p{
    padding-bottom: 0;
    margin-bottom:0;
    color: #686868;
}
#brand{
    color: #0AADDC;
}
p#package, p#total{
    color: #686868;
}

p#total{
    color: #D00000;
    font-weight:900;
}

h4{
    color: #686868;
}

a{
    display: block;
    width: 40%;
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0AADDC;
}
a:first-of-type{
    margin-top:24px;
}
a:hover{
    color: #0A7BDC;
}